@page "/app/downloads/tasks"
@using AVOne.Impl.Data
@inherits ProCompontentBase

<CascadingValue Value="this">
    <div>
        <MRow Class="no-gutters">
            <div style="height:calc(100vh - 112px );">
                <TaskNav />
            </div>
            <div class="pl-6 rounded-2" style="height:calc(100vh - 112px ); width: calc(100% - 300px); overflow: hidden; display:block;">
                <div>
                    <MToolbar Dense Elevation="0" Class="rounded-2" Height="60">
                        <MTextField TValue="string"
                                    Class="task-search mx-4"
                                    HideDetails=true
                                    Placeholder=@T("Download.Search") @bind-Value=InputText>
                            <PrependContent>
                                <MIcon Small Class="mt-1">fa fa-search</MIcon>
                            </PrependContent>

                        </MTextField>
                        <MMenu OffsetX Left OffsetY>
                            <ActivatorContent>
                                <MButton Class="mr-5" Icon Large @attributes="context.Attrs"><MIcon>mdi-dots-horizontal</MIcon></MButton>
                            </ActivatorContent>
                            <ChildContent>
                                <MList Dense>
                                    <MListItem Link OnClick=ResetSort>
                                        <MListItemContent>
                                            <MListItemTitle>
                                                Reset Sort
                                            </MListItemTitle>
                                        </MListItemContent>
                                    </MListItem>
                                    <MListItem Link OnClick=SortbyName>
                                        <MListItemContent>
                                            <MListItemTitle>
                                                Sort By Name
                                            </MListItemTitle>
                                        </MListItemContent>
                                    </MListItem>
                                    <MListItem Link OnClick=SortbyCreatedDate>
                                        <MListItemContent>
                                            <MListItemTitle>
                                                Sort Created Date
                                            </MListItemTitle>
                                        </MListItemContent>
                                    </MListItem>
                                </MList>
                            </ChildContent>
                        </MMenu>
                    </MToolbar>

                                <MList Subheader
               TwoLine Class="rounded-4 mt-6" Style="height: calc(100vh - 196px ); overflow-y:auto;">
                       @foreach (var job in Jobs)
                        {
                    <MListItem key="@job.Id">
                        <ItemContent>
                            <MListItemAvatar>
                                <MIcon Class="blue lighten-1"
                                        Dark>
                            mdi-movie
                        </MIcon>
                    </MListItemAvatar>
                        <MListItemContent>
                            <MListItemTitle>@job.Name</MListItemTitle>
                            @if(job.Status == (int)JobStatus.Running){
                            <MListItemSubtitle>

                                <MProgressLinear Striped Value="@(job.Progress)" Height="15" Color="light-blue">
                                <ChildContent Context="process_bar">
                                    <strong>@($"{job.Progress.ToString("0.00")}%")</strong>
                                        </ChildContent>
                                    </MProgressLinear>
                                </MListItemSubtitle>
                            }
                            </MListItemContent>
                            <MListItemAction>
                                    @foreach (var tag in job.Tags)
                                    {
                                        <MChip Class="mx-1 text-btn" Small TextColor="@GetColorForTag(tag)" Color="@(@GetColorForTag(tag)+"-lighten-5")">@tag</MChip>
                                    }
                                <MButton Icon @onclick="() => RemoveJob(job)">
                                    <MIcon Color="red lighten-1">mdi-delete</MIcon>
                                </MButton>
                            <MButton Icon>
                            <MIcon Color="grey lighten-1">mdi-information</MIcon>
                        </MButton>
                        </MListItemAction>
                    </ItemContent>
                </MListItem>
                        }
                    </MList>
                </div>
            </div>
        </MRow>
    </div>
</CascadingValue>

@code {
    private Dictionary<int, string> _tagColorMap = new Dictionary<int, string>()
    {
        { 0, "blue" },
        { 1, "pry" },
        { 2, "sample-green" },
        { 3, "remind" },
        { 4, "error" },
        { 5, "info" },
    };

    public string GetColorForTag(string tagStr)
    {
        if(string.IsNullOrEmpty(tagStr))
        {
            return "grey";
        }
        // convert the tagStr to int with hashcode
        var tag = tagStr.GetHashCode() % 6;
        return _tagColorMap[tag];
    }
}