@using AVOne.Impl.Job;
@using AVOne.Models.Download;
@using AVOne.Providers;
@inherits ProCompontentBase
<MNavigationDrawer Permanent Class="rounded-4" Width="300" Style="overflow: visible;">
    <MDialog @bind-Value="addTaskDialog"
             Width="500">
        <ActivatorContent>
            <MButton Class="ma-6 rounded-pill" Style="width:-webkit-fill-available;" @attributes="@context.Attrs" Dark Color="primary">@T("Download.Tasks.AddTask")</MButton>
        </ActivatorContent>
        <ChildContent>
            <MCard>
                <MForm Model="_addJobModel" EnableValidation OnValidSubmit="HandleOnValidSubmit">
                    <MCardTitle>
                        <span class="text-h5">@T("Download.Tasks.AddTask")</span>
                    </MCardTitle>
                    <MCardText>
                        <MTextField Class="mt-2" @bind-Value="_addJobModel.Url"
                                    Label='@T("Download.Tasks.AddTaskUrl")' Hint='@T("Download.Tasks.AddTaskUrlHint")' PersistentHint
                                        Outlined></MTextField>
                    </MCardText>
                    <MCardActions Class="justify-end">
                        <MButton Type="reset" @onclick="()=> {addTaskDialog = false;}">@T("Common.Cancel")</MButton>
                        <MButton Type="submit" Color="primary">@T("Common.Submit")</MButton>
                    </MCardActions>
                </MForm>
            </MCard>

        </ChildContent>
    </MDialog>

    <MList Linkage Dense Class="remover-ripple">
        <TaskNavItem Icon="mdi-check-all" Title="Download.Status.All"></TaskNavItem>
        <TaskNavItem Status=0 Icon="mdi-sync" Title="Download.Status.Pending"></TaskNavItem>
        <TaskNavItem Status=1 Icon="mdi-play-box-outline" Title="Download.Status.Running"></TaskNavItem>
        <TaskNavItem Status=2 Icon="mdi-check" Title="Download.Status.Completed"></TaskNavItem>
        <TaskNavItem Status=3 Icon="mdi-playlist-minus" Title="Download.Status.Canceled"></TaskNavItem>
        <TaskNavItem Status=4 Icon="mdi-delete" Title="Download.Status.Failed"></TaskNavItem>

        <MRow NoGutters Justify="JustifyTypes.SpaceBetween">
            <MSubheader Class="px-6 my-6 text-subtitle neutral-lighten-4--text">Tags</MSubheader>
            @* <MIcon Class="px-6 my-6" Small Color="#A3AED0">fas fa-plus</MIcon> *@
        </MRow>
            <TaskNavItem Tag="Censored" Icon="fas fa-circle" IconColor="purple" Title="Download.Tags.Censored"></TaskNavItem>
            <TaskNavItem Tag="Uncensored" Icon="fas fa-circle" IconColor="#05CD99" Title="Download.Tags.Uncensored"></TaskNavItem>
            <TaskNavItem Tag="Chinese" Icon="fas fa-circle" IconColor="#FFB547" Title="Download.Tags.Chinese"></TaskNavItem>
            <TaskNavItem Tag="Taiwanese" Icon="fas fa-circle" IconColor="#FF5252" Title="Download.Tags.Taiwanese"></TaskNavItem>
            <TaskNavItem Tag="Japanese" Icon="fas fa-circle" IconColor="#4318FF" Title="Download.Tags.Japanese"></TaskNavItem>    
            <TaskNavItem Tag="Catoon" Icon="fas fa-circle" IconColor="#05CD99" Title="Download.Tags.Catoon"></TaskNavItem>
            <TaskNavItem Tag="US" Icon="fas fa-circle" IconColor="#FFB547" Title="Download.Tags.US"></TaskNavItem>
            <TaskNavItem Tag="Other" Icon="fas fa-circle" IconColor="purple" Title="Download.Tags.Other"></TaskNavItem>
    </MList>
</MNavigationDrawer>

@code {
    bool addTaskDialog;
    class AddJobModel
    {
        [Required]
        [Url]
        public string? Url { get; set; }
    }

    private AddJobModel _addJobModel = new();

    private void HandleOnValidSubmit()
    {
        //valid

        this.AddDownloadJob(_addJobModel);
        addTaskDialog = false;
    }
    [Inject]
    public IProviderManager ProviderManager { get; set; }

    [Inject]
    public IJobManager JobManager { get; set; }

    private async Task AddDownloadJob(AddJobModel addJobModel)
    {
        var jobItems = ProviderManager.GetMediaExtractorProviders(addJobModel.Url);
        var extractorProvider = jobItems.FirstOrDefault();
        if (extractorProvider is null)
        {
            return;
        }

        var item = await extractorProvider.ExtractAsync(addJobModel.Url);
        var jobItem = item.FirstOrDefault();
        if (jobItem is null)
        {
            return;
        }
        var opt = new DownloadOpts { ThreadCount = 4, OutputDir = "D:\\tmp", RetryCount = 1, RetryWait = 500 };
        var downloadJob = new DownloadAVJob();
        downloadJob.DownloadableItem = jobItem;
        downloadJob.DownloadOpts = opt;
        JobManager.AddJob(downloadJob);
        JobManager.ExecuteJob(downloadJob);
    }
}